img#aboutHeader.section-image(src='../img/kajsa-unge-profile.svg' alt="Kajsa Unge profile")
section.about-content
    h1#about.section-title= specific.aboutTitle
    p.section-description.section-description--white= specific.author
    p= specific.title
    p.about-text= specific.aboutTextOne
    p.about-text= specific.aboutTextTwo
    p.about-text= specific.aboutTextThree