-const json = require('../../src/locals/locals.json');
-const jsonExperience = require('../../src/locals/locals.json').experience;
-const jsonEdu = require('../../src/locals/locals.json').education;
-const jsonEduOnline = require('../../src/locals/locals.json').educationOnline;

img.section-image(src='./img/cv-img.png')
h1#cv.section-title= json.generic.menuCv
p.section-description= json.generic.cvText
.cv-content
    -var experienceList = []
    -for(var key in jsonExperience)
        -experienceList.push(jsonExperience[key])
    each experience in experienceList
        .cv-item
            p.cv-date= experience.date
            h3.cv-title= experience.title
            if !experience.companyLink
                p= experience.company
            else
                a.cv-link(href= experience.companyLink)= experience.company
            p.cv-description= experience.experienceDesc
            p.cv-learning= experience.experienceTakeaway
h2.section-title= json.generic.education
p.section-description= json.generic.educationText
.edu-block
    p.edu-category= json.generic.educationTypeProfessional
        -var educationList = []
        -for(var key in jsonEdu)
            -educationList.push(jsonEdu[key])
        each education in educationList
            .edu-item
                p.cv-date= education.date
                h5.edu-title= education.degree
                if !education.schoolLink
                    p= education.school
                else
                    a.link-yellow(href= education.schoolLonk target="_blank")= education.school
    p.edu-category= json.generic.educationTypeOnline
        -var educationOnlineList = []
        -for(var key in jsonEduOnline)
            -educationOnlineList.push(jsonEduOnline[key])
        each educationOnline in educationOnlineList
            .edu-item
                p.cv-date= educationOnline.date
                h5.edu-title= educationOnline.degree
                if !educationOnline.schoolLink
                    p= educationOnline.school
                else
                    a.link-yellow(href= educationOnline.schoolLink target="_blank")= educationOnline.school