img.section-image(src='../img/kajsa-unge_linework.png')
h1#cv.section-title= generic.menuCv
p.section-description= generic.cvText
.cv-content
    -var experienceList = []
    -for(var key in experience)
        -experienceList.push(experience[key])
    each experience in experienceList
        .cv-item
            p.cv-date= experience.date
            h3.cv-title= experience.title
            a.cv-link(href= experience.companyLinks)= experience.company
            p.cv-description= experience.experienceDesc
            p.cv-learning= experience.experienceTakeaway
h2.section-title= generic.education
p.section-description= generic.educationText
.edu-block
    p.edu-category= generic.educationTypeProfessional
        -var educationList = []
        -for(var key in education)
            -educationList.push(education[key])
        each education in educationList
            .edu-item
                p.cv-date= education.date
                h5.edu-title= education.degree
                a.link-yellow(href= education.schoolLonk target="_blank")= education.school
    p.edu-category= generic.educationTypeOnline
        -var educationOnlineList = []
        -for(var key in educationOnline)
            -educationOnlineList.push(educationOnline[key])
        each educationOnline in educationOnlineList
            .edu-item
                p.cv-date= educationOnline.date
                h5.edu-title= educationOnline.degree
                a.link-yellow(href= educationOnline.schoolLink target="_blank")= educationOnline.school