block project-page

section.overlay
    button#closeModal.close-button
        span Stäng projekt
    -var ProjectsList = []
    -for(var key in projects)
        -ProjectsList.push(projects[key])

    -each project in ProjectsList
        -var key = project.title.toLowerCase().replace(/\s/g,'')
        section.projectPage(id= key)
            div.projectHeader.bgc-grey-dark
                .projectImgBox
                    img.img-lg(src= project.header, alt= project.headerAlt)
                .projectTextBox
                    h1= project.title
                    p.ingress= project.tags
                    p.citat= project.clientQuote
            section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-50.mrg-btm-80.resp-type
                article.s-col_m-row_item
                    h2= generic.genericSubHead_client
                    p.em.pdg-btm
                      a.link-yellow(href= project.clientLink)= project.client
                    p= project.clientText
                article.s-col_m-row_item
                    h2= generic.genericSubHead_project
                    p.em.pdg-btm= project.projectDates
                    p= project.projectText
                article.s-col_m-row_item.mrg-btm-40
                    h2= generic.genericSubHead_process
                    p.em.pdg-btm= project.processWhat
                    p= project.processText
            section.divider-section.text-dark.pdg-top-20
                h2.text-dark.mrg-top-40.mrg-btm= project.mainImgTitle
                p.text-dark.ingress= project.mainImgText
                img.img-mid.mrg-top-80(src= project.mainImg, alt= project.mainImgAlt)
            section.s-col_m-row-left.pdg-sides-10p.pdg-btm-50            
                article
                    img.img-col(src= project.detailsImg, alt= project.detailsImgAlt)
                article.s-col-start.text-dark.mrg-top
                    h5.project-sub-heading.page-scroll= project.detailsOne
                    p= project.detailsOneText
                      br
                      br
                    h5.project-sub-heading.page-scroll= project.detailsTwo
                    p= project.detailsTwoText
                      br
                      br
                    h5.project-sub-heading.page-scroll= project.detailsThree
                    p= project.detailsThreeText
                      br
                      br
                    h5.project-sub-heading.page-scroll= project.detailsFour
                    p= project.detailsFourText
                      br
                      br
                    h5.project-sub-heading.page-scroll= project.detailsFive
                    p= project.detailsFiveText
                      br
                      br
                    h5.project-sub-heading.page-scroll= project.detailsSix
                    p= project.detailsSixText
                      br
                      br
                    h5.project-sub-heading.page-scroll= project.detailsSeven
                    p= project.detailsSevenText
                      br
                      br
                    h5.project-sub-heading.page-scroll= project.detailsEight
                    p= project.detailsEighText
            section.divider-section.text-dark.pdg-top-50
                h2.text-dark.mrg-top-40.mrg-btm= project.dividerTitle_two
                p.text-dark.ingress.mrg-btm-50= project.dividerDesc_two
                img.img-lg.pdg-sides-10p(src= project.dividerImg_two, alt= project.dividerImgAlt_two)
            section.site-container-col.bgc-grey-dark.pdg-btm-50
                img.img-lg.pdg-sides-10p.pdg-top-50(src= project.summeryImg, alt= project.summeryImgAlt)
            section.divider-section.bgc-grey-dark.pdg-btm-80
                h2= generic.genericFooter
                p.text-block.pdg-sides-10p.mrg-top-20= project.summery_desc